<style type="text/css">

	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 40px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
		height: 100%;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	#links a{
		color: blue;
		text-decoration: none;
	}
	#links a:Hover{
		color: green;
	}

	#contents{
		margin: 10px;
		padding: 20px;
		border: 0px solid gray;
		width: 35%;
		height: auto;
		box-shadow: gray 0px 0px 5px;
		border-radius: 5px;
	}
	#userlabel{
		text-align: right;
	}
	#userhead{
		text-align: center;
		font-size: 15px;
	}
	#errors{
		font-size: 10px;
		color: red;
		text-align: center;
		font-family: Cambria;
	}
	#action_icon{
		width: 15px;
		height: 15px;
	}
	#post_content{
		width: 300px;
		height: 200px;
		max-width: 350px;
		max-height: 250px;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body {
		margin: 0 15px 0 15px;
	}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	#container {
		margin: 10px;
		//border: 1px solid #D0D0D0;
		//box-shadow: 0 0 8px #D0D0D0;
		margin-left: 100px;
	}

	#pages{
		border: 0px solid black;
		margin-top: 10px;
		letter-spacing: 5px;
		margin-left: none;
	}

	#linkposts{
		color: blue;
		text-decoration: none;
	}
	#linkposts:Hover{
		color: green;
		font-weight: bold;
	}
	.pagination a{
		color: green;
		text-decoration: none;
		border: 0px solid black;
		//letter-spacing: 10px;
	}
	.pagination a:Hover{
		font-weight: bolder;
		color: red;
	}
	.pagination a.active{
		color: red;
		font-weight: bolder;
	}
	#display{
		color:red;
		font-size: 12px;
		text-align: center;
	}
</style>